body{}
.tot{
    width: 1250px;
    height: 500px;
}
.tto{
    width: 1250px;
    height: 500px;
}
.tt{
    width: 1250px;
    height: 500px;
}
.tag{
    text-align: center;
    padding: 10px;
    margin-top: -50px;
}
.tag h1{
   
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    background: url(../images/fire-flame.gif);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tag p{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.tag button{
    width: 160px;
    height: 40px;
    background: purple;
    color: aliceblue;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    box-shadow:  3px 3px 2px solid black;
}
.tag button:hover{
    background: green;
    transition: 3s;
    border-radius: 10px;
}
.card{
    text-align: center;
    
    color: purple;
}
.card h1{
    font-size: 70px;
    text-transform: capitalize;
    padding: 10px;

}
.cardp{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.pp2{
    width: 450px;
    height: 350px;
}
.card4{
    display: inline-flex;
}
.dd{
    text-align: center;
    padding: 10px;
}
.dd h1{
    font-size: 50px;
    text-transform: capitalize;
    color: purple;
}
.dd p{
    text-align: center;
}
.dd button{
    background: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
    width: 120px;
    height: 40px;
}
.dd button:hover{
    background: green;
    border-radius: 10px;
   transition: 2s;
}
.service{
    display: inline-flex;
    text-align: center;
    padding: 10px;
}
.card6{
    padding: 10px;
}
.card6 img{}
.part {
 
}
.part h1{
    font-size: 40px;
    color: purple;
}
.part p{}
.part h3{
    color: purple;
}
.review{
    text-align: center;
    padding: 10px;
}
.review h1{
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    color: purple;
    font-size: 30px;
}
.reviewp{
    text-align: center;
}


.pp4{
    width: 550px;
    height: 450px;
}
.card9{
    display: inline-flex;
}
.dd2{
    text-align: center;
    padding: 10px;
}
.dd2 h1{
    font-size: 50px;
    text-transform: capitalize;
    color: purple;
}
.dd2 p{
    text-align: center;
}
.gallary{
    display: inline-flex;
    padding: 10px;
}
.card10{
    padding: 10px;
}
.gallary2{
    display: inline-flex;
    padding: 10px;
    margin-top: -50px;
}
.card10{
    padding: 10px;
}
.card10 h1{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: purple;
}
.g44{
    background: url(../images/bac.jpg);
    color: aliceblue;
}
.h44{
    color: aliceblue;
   
}
.f33{
    background-color: purple;
    color: aliceblue;
}
.bar2{
    display: inline-flex;
    text-align: center;
    padding: 10px;
    background: url(../images/back.webp);
    background-size: 1250px 400px;

    width: 100%;

}
.par h1{
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}
.par p{
    color: aliceblue;
    padding: 10px;
}
.par h3{
    color: aliceblue;
    padding: 10px;
    text-transform: capitalize;
}
.par h2{
    color: aliceblue;
    text-align: left;
    text-transform:capitalize;
   
}
.par a{
    text-align: left;
    padding: 10px;
    font-size: 30px;
    text-transform: capitalize;
    color: aliceblue;
}
